:root {
    --color-primary-light: #ECFDF5;
    --color-primary: #10B981;
    --color-primary-dark: #047857;
    --muted: #F1F5F9;
    --muted-foreground: #64748B;
    --color-accent-pink: #F43F5E;
    --color-accent-red: #E11D48;
    --color-gray-light: #F8FAFC;
}
